---
layout: page
---

<div class="row">
  <div class="column col-img">
    <img
      src="/images/headshot7.jpg"
      style="margin-left: auto; margin-right: auto; display: block"
    />
    <br />
  </div>
  <div class="column col-txt" style="font-size: 19px">
    Helloooo! I'm a senior at UNC Chapel Hill that has always been drawn to the
    concept of building and designing a website. After literally spending most
    of my adolescence running a <em>fleet</em> of (v. angsty) tumblr blogs, I am
    so excited to have now created this!!<br /><br />I'm originally from
    California's central valley and have lived everywhere from
    <a
      href="https://www.outwardbound.org/course/high-sierra-alpine-backpacking-for-adults/671"
      title=""
      >Sequoia</a
    >
    Kings Canyon National Park (22 days) to upstate
    <a href="https://lajf.org" title=""> New</a>
    <a
      href="https://www.nytimes.com/2015/09/07/nyregion/shaped-by-camp-alumni-fight-to-prevent-its-move.html"
      >York</a
    >
    (2 months) to upstate New Mexico in a ~spooky~
    <a href="https://uwc-usa.org" title="">castle</a> (2 years). I currently
    study Computer Science and try whenever possible to connect it with all my
    other interests—language learning, music, design, and (attempted)
    productivity.
  </div>
</div>
