---
layout: default
---

<div class="code">
  <div class="panel" style="background-color: #dbf5ff">
    <div class="panel-content">
      <a
        href="https://github.com/chiazo/word-adder"
        onmouseover="this.style.color='darkblue'"
        onmouseout="this.style.color='black'"
      >
        <h1>WordAdder</h1>
      </a>

      <div class="subtitle">
        A program to update foreign vocab lists hosted on google sheets with
        definitions & example sentences
      </div>
      <p>
        <center>
          <a href="https://github.com/chiazo/word-adder"
            >Click to see the repo</a
          >.
        </center>
      </p>
      <!-- <span class="cont highlight">Read More  →</span>-->
    </div>
  </div>
  <div class="panel" style="background-color: #e0ffdc">
    <div class="panel-content">
      <a
        href="https://github.com/chiazo/read-learn"
        onmouseover="this.style.color='darkgreen'"
        onmouseout="this.style.color='black'"
      >
        <h1>readLearn</h1>
      </a>

      <div class="subtitle">
        A web app that takes in a text in another language, allowing the user to
        click words they don't know. Outputs a list of words to study later!
      </div>

      <div class="panel-details"></div>
      <p style="text-align: center">
        <a href="https://chiazo.github.io/read-learn">Click to start reading.</a
        ><br />
      </p>

      <!--<span class="cont highlight">Read More →</span> -->
    </div>
  </div>
  <div class="panel" style="background-color: #f4dbff">
    <div class="panel-content">
      <a
        href="https://github.com/chiazo/syndrome"
        onmouseover="this.style.color='darkpurple'"
        onmouseout="this.style.color='black'"
      >
        <h1>Syndrome</h1>
      </a>

      <div class="subtitle">
        A CSS framework built using Sass. Syndrome is a toolkit featuring all of
        my favorite CSS styles in one place.
      </div>
      <p>
        <center>
          <a href="https://chiazo.github.io/syndrome"
            >Click to check out the toolkit.</a
          >
        </center>
      </p>
    </div>
  </div>
  <div class="panel" style="background-color: #ffe2db">
    <div class="panel-content">
      <a
        href="https://github.com/chiazo/FlexDJ-1"
        onmouseover="this.style.color='darkpurple'"
        onmouseout="this.style.color='black'"
      >
        <h1>FlexDJ</h1>
      </a>

      <div class="subtitle">
        A team project built for cross-platform playlist creation + more. FlexDJ
        merges Spotify, Youtube, and Deezer all in one place!
      </div>
      <p>
        <center>
          <a href="https://flexdj.vercel.app/"
            >Click to start making playlists.</a
          >
        </center>
      </p>
    </div>
  </div>
  <div class="panel" style="background-color: #fffedb">
    <div class="panel-content">
      <a
        href="https://github.com/chiazo/alleyesonus-demo"
        onmouseover="this.style.color='darkpurple'"
        onmouseout="this.style.color='black'"
      >
        <h1>All Eyes on Us</h1>
      </a>

      <div class="subtitle">
        A choose your own adventure web game for the Center for Court
        Innovation, a NYC-based non-profit, written in Twine. Built by hackNY
        fellows!
      </div>
      <p>
        <center>
          <a href="https://youth-justice-board.github.io/AllEyesOnUs/"
            >Click to start your adventure.</a
          >
        </center>
      </p>
    </div>
  </div>
  <div class="panel" style="background-color: #ffdbeb">
    <div class="panel-content">
      <a
        href="https://mkatzsite-dept-mkatzsite.cloudapps.unc.edu/"
        onmouseover="this.style.color='darkpink'"
        onmouseout="this.style.color='black'"
      >
        <h1>Mark Katz</h1>
      </a>

      <div class="subtitle">
        A professional website for UNC Music Professor Mark Katz built using
        Wordpress.
      </div>
      <p>
        <center>
          <a
            href="https://mkatzsite-dept-mkatzsite.cloudapps.unc.edu/?page_id=380"
            >Click to see the database I helped fill.</a
          >
        </center>
      </p>
      <!-- <span class="cont highlight">Read More  →</span>-->
    </div>
  </div>
  <div class="panel" style="background-color: #ffdcdc">
    <div class="panel-content">
      <h1><a href="https://github.com/chiazo/my-planner">my-planner</a></h1>
      <div class="subtitle">
        A web app that creates a daily schedule based on inputed tasks and their
        estimated time for completion + any blocks of free time I designate.
      </div>

      <div class="panel-details"></div>
      <p style="text-align: center">
        <a
          href="https://chiazo.github.io/my-planner/"
          style="vertical-align: middle"
          >Click to start planning!</a
        ><br />
      </p>
    </div>
  </div>
  <div class="panel" style="background-color: #e4ccff">
    <div class="panel-content">
      <h1><a href="https://github.com/chiazo/team110">Team110</a></h1>
      <div class="subtitle">
        A Gatsby site built from scratch to establish a central documentation
        hub for TAs of COMP110, the biggest CS course at UNC Chapel Hill.
      </div>

      <div class="panel-details"></div>
      <p style="text-align: center">
        <a
          href="https://chiazo.github.io/team110/"
          style="vertical-align: middle"
          >Click to see our written guides!</a
        ><br />
      </p>
    </div>
  </div>
  <div class="panel" style="background-color: #dcffe0">
    <div class="panel-content">
      <h1>
        <a href="https://github.com/chiazo/eisenhower-matrix"
          >Eisenhower Matrix</a
        >
      </h1>
      <div class="subtitle">
        A scheduling app using Google Cal API, Java Servlets, JS + Bootstrap!
        Built during Google Software Product Sprint.
      </div>

      <div class="panel-details"></div>
      <p style="text-align: center">
        <a
          href="https://github.com/chiazo/eisenhower-matrix"
          style="vertical-align: middle"
          >Click to see our code!</a
        ><br />
      </p>
    </div>
  </div>
  <div class="panel" style="background-color: #fff1a0">
    <div class="panel-content">
      <h1>
        <a href="https://cssg-edu-team.github.io/">CSSG Education Team</a>
      </h1>
      <div class="subtitle">
        A course on React + Firebase I developed & taught during the Spring of
        2021 as the UNC CS + Social Good Education Lead.
      </div>

      <div class="panel-details"></div>
      <p style="text-align: center">
        <a
          href="https://cssg-edu-team.github.io/"
          style="vertical-align: middle"
          >Click to start learning!</a
        ><br />
      </p>
    </div>
  </div>
</div>
