---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}



  <div id="home-body" class="wrapper">
    <div class="headline-grid">
      <div class="head-wrap">
        <h2 class="head-text box">
          <span class="highlight first-line" style="text-align: center; font-weight: 800;">Hi,
            I'm Chiazo! 🌻</span><br /> —a comp sci major at <span class="highlight-blue"
            style="font-weight: 800;">UNC</span>. I enjoy <span class="highlight-green"><a style="color: inherit;"href="https://soundcloud.com/chiazo/sets/brb-deactivating">making music</a></span>, enhancing
          the <span class="highlight-red">language learning</span> process, and binge watching <span
            class="highlight-purp">video essays</span> on Youtube. ✨
        </h2>
      </div>
      <div class="head-img box">
        <img class="headshot" src="../images/headshot2.jpg" onmouseover="this.src='../images/headshot3.jpg'"
          onmouseout="this.src='../images/headshot2.jpg'">
      </div>

    </div>
    <br />
    <div class="arrow">
      <i class="fas fa-arrow-down" style="font-size: 25px"></i>

    </div> <br /><br />
   <!-- <div class="img-fill top"></div> -->
    <br />
    <div class="projects">
      <div class="panel" style="background-color: #dbf5ff;">
        <div class="panel-content">

          <h1><a href="https://github.com/chiazo/word-adder">WordAdder</a></h1>
          <div class="subtitle"> A program to update foreign vocab lists hosted on google sheets with definitions & example sentences </div>
          <p>
              <center><a href="https://github.com/chiazo/word-adder">Click to see the repo!</a>.</center>
          </p>
          <!-- <span class="cont highlight">Read More  →</span>-->
        </div>

        <div class="panel-image" style="background-image: url('/images/wordAdderDemo.gif'); vertical-align: middle""></div>
      </div>

      <div class="panel" style="background-color: #f4dbff;">
        <div class="panel-content">
          <a href="https://github.com/chiazo/syndrome" onmouseover="this.style.color='darkpurple'"
            onmouseout="this.style.color='black'">
            <h1>Syndrome</h1>
          </a>
    
          <div class="subtitle"> A CSS framework built using Sass. Syndrome is a toolkit featuring all of my favorite CSS
            styles in one place.</div>
          <p>
            <center><a href="https://chiazo.github.io/syndrome">Click to check out the toolkit.</a></center>
          </p>
          <!-- <span class="cont highlight">Read More  →</span>-->
        </div>
    
        <div class="panel-image" style="background-image: url('/images/syndrome.gif')"></div>
      </div>

      <div class="panel" style="background-color: #e0ffdc;">
        <div class="panel-content">

          <h1><a href="https://github.com/chiazo/read-learn">readLearn</a></h1>
          <div class="subtitle"> A web app that takes in a text in another language, allowing the user to click words they don't know. Outputs a list of words to study later!</div>

          <div class="panel-details">

          </div>
          <p style="text-align: center">
             <a href="https://chiazo.github.io/read-learn" style="vertical-align: middle">Click to start learning.</a><br/>
          </p> 

         <!--<span class="cont highlight">Read More →</span> --> 

        </div>
        <div class="panel-image" style="background-image: url('/images/readlearn.gif')"></div>
      </div>
      <div class="panel" style="background-color: #ffdcdc;">
        <div class="panel-content">

          <h1><a href="https://github.com/chiazo/my-planner">my-planner</a></h1>
          <div class="subtitle"> A web app that creates a daily schedule based on inputed tasks and their estimated time for completion + any blocks of free time I designate.</div>

          <div class="panel-details">

          </div>
          <p style="text-align: center">
             <a href="https://chiazo.github.io/my-planner/" style="vertical-align: middle">Click to start planning!</a><br/>
          </p> 

         

        </div>
        <div class="panel-image bey" style="background-image: url('/images/bey.gif')"></div> 
      </div>
    </div>
  </div>


</div>

<style>
  div.bey {
    background-position: 5% 95%;
  }
</style>